[2015-06-14 03:32] SterlingHooten opened #2 "Can you insert a search query?"
Perhaps I'm dense, how do you simply add a search query?

[2015-10-20 08:50] potofpie opened #4 "I'm having trouble running the example code :("
C:\Python27\python.exe "C:/Users/Bobby/PycharmProjects/untitled/complicated loops.py"
Traceback (most recent call last):
  File "C:/Users/Bobby/PycharmProjects/untitled/complicated loops.py", line 2, in <module>
    from craigslist import CraigslistHousing
  File "C:\Python27\lib\site-packages\craigslist\__init__.py", line 4, in <module>
    import requests
  File "C:\Python27\lib\site-packages\re

[2015-10-22 07:07] potofpie commented on #4
Never mind, don't forget to set the Path in environment variable on Windows.

[2015-10-22 07:09] potofpie commented on #2
![basic query](https://cloud.githubusercontent.com/assets/15187309/10658989/f633a454-7850-11e5-8278-87161cf1988d.PNG)

I figured it out from the example code :P

[2015-12-29 19:01] chikenlegg opened #5 "sites.py does not parse properly."
Assuming due to an update in CL. All that was needed was an extra '/' in rsplit.

!OLD
site = a.attrs['href'].rsplit('/', 1)[1].split('.')[0]

!NEW
site = a.attrs['href'].rsplit('//', 1)[1].split('.')[0]

Works now :)

[2015-12-29 19:38] juliomalegria commented on #5
Thanks for pointing that out!
Would you be interested in doing the change in a fork and opening a pull request? If not, I'll do the change as soon as possible.

[2016-01-06 17:59] juliomalegria commented on #5
Fixed in #7

[2016-01-06 17:59] #5 closed

[2016-01-27 01:20] bus710 opened #8 "site.py doesn't work."
Hi,

I am very glad to find this package!
Because now I am trying to find an apartment in SoCal area, this package is really helpful for me.

Btw, when I try to use your example, unfortunately, it doesn't work because site.py couldn't get decent data from craigslist so that I just commented a line from '__init__' and then now it works perfectly as I expected [1]. If you have time to revise it, thi

[2016-01-27 06:23] #4 closed

[2016-01-27 06:24] #2 closed

[2016-01-27 06:25] juliomalegria commented on #8
The issue with the `sites.py` has already been fixed. I just hadn't had the time to make a new release. I'll do that pretty soon.
Thanks for using the module! :+1:

[2016-01-27 20:17] bus710 commented on #8
You are the best! :+1:

[2016-01-29 03:28] Superbest opened #9 "ImportError: No module named 'Queue'"
`  File "C:\Python34\lib\site-packages\craigslist\__init__.py", line 3, in <module>
    from Queue import Queue
ImportError: No module named 'Queue'`

Looks like it's not Python3 compatible after all.

[2016-01-29 17:11] juliomalegria commented on #9
The issue has already been fixed. I just hadn't had the time to make a new release yet. I'll do that pretty soon.
Thanks for using the module! :+1:

[2016-02-06 08:43] sjohns0828 commented on #8
Has this issue been resolved? I am trying to use CraigslistForSale and am getting the following error

ValueError: 'detroit' is not a valid site

After doing some investigating it seems that all sites are not properly loaded. Thanks for any help!

[2016-04-11 16:22] kadnan opened #10 "Not a valid site error"
None of your example is working, gives errors like:

[code]

[2016-07-22 19:07] xilni commented on #9
Any news on this? There hasn't been a new release in over a year but the commits have been coming.

[2016-07-24 21:55] aemonm commented on #10
Also having the same issue.

[2016-07-25 02:55] kggiorno commented on #9
julio, it looks like github's been updated but not the pip install package

xilni, you'll want to go to /users/<yourUser>/anaconda/lib/python3.4/site-packages/craigslist/ and rm the __init__.py file in there

replace it with the current __init__.py file julio has up on github:
https://raw.githubusercontent.com/juliomalegria/python-craigslist/master/craigslist/__init__.py
(I just copy pasted using

[2016-07-25 03:20] kggiorno commented on #10
From current version of __init__.py starting at line 66:

def __init__(self, site='sfbay', area=None, category=None, filters=None,
                 log_level=logging.WARNING):

        self.set_logger(log_level)

        **if site not in all_sites:
            msg = "'%s' is not a valid site" % site
            logger.error(msg)
            raise ValueError(msg)**
        self.site = site

So this

[2016-07-25 07:27] juliomalegria commented on #9
Sorry guys, I've been slacking off on this module. I'll review the pull requests & update the pip package tomorrow.
Thanks for all the collaboratioN!

[2016-07-27 04:21] juliomalegria commented on #10
New version of python-craigslist (1.0.1) is live in PyPI now. That version should fix this issue.

Thanks for bearing with me :)

[2016-07-27 04:21] #10 closed

[2016-07-27 04:21] juliomalegria commented on #9
New version of python-craigslist (1.0.1) is live in PyPI now. That version should fix this issue.

Thanks for bearing with me :)

[2016-07-27 04:21] #9 closed

[2016-07-27 04:22] juliomalegria commented on #8
New version of python-craigslist (1.0.1) is live in PyPI now. That version should fix this issue.

Thanks for bearing with me :)

[2016-07-27 04:22] #8 closed

[2016-07-29 16:30] BenBarker opened #14 "posted_today always is True"
I found that the 'posted_today' filter always appeared to be 1, even when passed a value of 0. I believe this line in the \_\_init__ of CraigslistBase is to blame (around line 91):

`                self.filters[filter['url_key']] = filter['value'] or value
`

I believe that my desired value, 0, was causing the 'or' test to fail and using the default filter value of 1 in all cases. I changed it to

[2016-08-01 04:28] juliomalegria commented on #14
Hi Ben,

Could you explain me a bit what are you trying to achieve?

As far as I see it, this is the intended behavior. The logic behind it is that the filters that have a value other than `None` (e.g. search_titles, posted_today, pets_cat, ...) can be turned on to use the filter, but cannot be turned off. To explain a bit better, if you go to Craigslist and add `postedToday=1` in the URL, the res

[2016-08-21 14:50] jellis18 opened #15 "housing_type filter"
It would be useful to have a housing type filter. I have implemented this change simply by adding

[code]
to ``extra_filters`` dictionary in  the ``CraigslistHousing`` class. However, the types are designated by number and not a string like`` 'condo'`` or ``'house'``. I was thinking of making a function that would parse the filters dictionary so that the user could give the argument

[code]

and t

[2016-08-24 00:22] johnthomas00 opened #16 "AttributeError: 'NoneType' object has no attribute 'text'"
Love this Python application, thanks.  It has been working great, but today, I started getting this error.  Any suggestions:

[code]

[2016-08-24 00:46] johnthomas00 commented on #16
As a temporary work around, I replaced
    p_text = row.find('span', {'class': 'p'}).text
with
    if row.find('span', {'class': 'p'}):
        p_text = row.find('span', {'class': 'p'}).text
but not sure that works yet as I only run this every few hours.  I will report back later.

[2016-08-24 19:56] johnthomas00 commented on #16
As a hack/solution, I replaced line 160:
`p_text = row.find('span', {'class': 'p'}).text`
with
[code]

[2016-08-27 18:46] juliomalegria commented on #16
Thanks for the feedback John! I've fixed it in ebd99b5.
This will be included in the next release :)

[2016-08-27 18:46] #16 closed

[2016-08-27 21:08] juliomalegria commented on #15
Hi Justin,

That's a great idea. I had some free time this weekend, so I implemented this functionality. It's currently in branch `list-filters`, I'll do a bit more testing and then merging it. Take a look at it if you get a chance.

Thanks for the feedback!

[2016-08-28 21:19] nguillermin opened #17 "AttributeError: 'NoneType' object has no attribute 'text'"
This was run in ipython notebook (python 2.7.11)

[code]

Full code:

[code]

I get a couple results but eventually it crashes.

[2016-08-28 21:43] nguillermin commented on #17
It seems like this particular line of code was changed in the repo...is the pip version out of date?

[2016-08-29 00:18] WIRUT commented on #17
Seems like it. I had the same issue until I re-ran my pip installer with "pip install git+https://github.com/juliomalegria/python-craigslist"

Hope this simple solution helps others who had the same issue.

[2016-08-30 02:17] mrxinu commented on #17
The solution from @WIRUT worked great with a fresh virtualenv.

[2016-08-30 18:05] juliomalegria commented on #17
Yep, this is the same as #16. I've made the fix already, but haven't released a new version to PIP. I was waiting for more fixes/improvements, but if this is affecting to people already, I'll go ahead and make a new release soon.

[2016-08-30 18:05] #17 closed

[2016-08-31 17:16] jellis18 commented on #15
@juliomalegria, this looks good to me and it is even more flexible than what I suggested. However, I haven't really had a chance to test it out much yet.

[2016-08-31 18:28] Adama94 opened #18 "Bug in example code"
Here is the housing example:

[code]

This was working about a week ago, but as of recently it throws an error (on the line with the for loop). The error is:
`  File "/Library/Python/2.7/site-packages/craigslist/__init__.py", line 160, in get_results
    p_text = row.find('span', {'class': 'p'}).text
AttributeError: 'NoneType' object has no attribute 'text'`

Thanks

[2016-08-31 18:55] jctdickinson commented on #18
For what it's worth, I get the same error in Python 3.5:
`File "/Library/Frameworks/Python.framework/Versions/3.5/lib/python3.5/site-packages/craigslist/__init__.py", line 160, in get_results
    p_text = row.find('span', {'class': 'p'}).text
AttributeError: 'NoneType' object has no attribute 'text'`

[2016-08-31 20:08] Adama94 commented on #18
Ok looking at the last commit it looks like you this has been fixed, but upgrading the package via pip doesn't change it

[2016-08-31 20:11] navels commented on #18
This worked for me:

    pip install git+git://github.com/juliomalegria/python-craigslist.git@ebd99b5bc7afe9edb87bbe73843193dfdcfa1750 --upgrade

[2016-08-31 20:23] jctdickinson commented on #18
Sweet. Ran that with a `pip3 install` and it appears to have done the trick. Many thanks.

[2016-09-01 00:03] Adama94 commented on #18
Awesome, navels solution worked for me. Marking as closed!

[2016-09-01 00:03] #18 closed

[2016-09-06 01:47] christopherbaek opened #19 "release new version with p.text fix"
Can you publish a new version with this fix: https://github.com/juliomalegria/python-craigslist/commit/ebd99b5bc7afe9edb87bbe73843193dfdcfa1750

[2016-09-08 16:35] juliomalegria commented on #19
Hi there, yes. Sorry about that.
I want to merge branch `list-filters` (from #15), and then I'll release a new version. I'll do it ASAP (hopefully today).

[2016-09-08 22:51] christopherbaek commented on #19
Awesome, thanks!

[2016-09-18 00:59] juliomalegria commented on #19
New version (v1.0.2) was just released to PyPI! Sorry for the delay :)

[2016-09-18 00:59] #19 closed

[2016-09-18 01:00] juliomalegria commented on #15
I've merged the branch, and release a new version (v1.0.2) to PyPI! Thanks for the feedback :)

[2016-09-18 01:00] #15 closed

[2016-09-18 01:01] juliomalegria commented on #14
I tweaked the code a bit so that `posted_today: False/0/None` doesn't add `postedToday=1` in the URL. New version (v1.0.2) released with that change. Thanks!

[2016-09-18 01:01] #14 closed

[2016-09-18 07:15] cyn1cal opened #22 "1.0.2"
upon releasing 1.0.2 you got rid of the filter tree you had? I saw some type of tree you had and was referencing it for what filters to apply.

would appreciate it if you re-added it to the help or sent me in the right direction

thanks alot as always!

[2016-09-23 14:35] gregv21v opened #24 "Searching for key words in a title"
How do you search for key words in the title of an ad using the filter parameter?

[2016-09-26 20:31] juliomalegria commented on #24
Hi Gregory,

To do that, you'll use ['query'](https://github.com/juliomalegria/python-craigslist/blob/master/craigslist/__init__.py#L62) and ['search_titles'](https://github.com/juliomalegria/python-craigslist/blob/master/craigslist/__init__.py#L63). E.g.:

    (..., filters={'query': 'spacious', 'search_titles': True})

I'll try to improve the documentation to include an example of this.

[2016-09-26 20:31] #24 closed

[2016-10-17 17:16] juliomalegria commented on #22
Hey there,
I removed the filter tree, and changed it to a class-method called show_fiters, which will show you all of the filters that a subclass has. For example:

[code]

However, you can still see the filter tree by looking at the README file in the old version ([link here](https://github.com/juliomalegria/python-craigslist/blob/fecd75b8b2b34a59c9ca4debcc9f864d72dd1ac0/README.rst)).

[2016-10-17 17:16] #22 closed

[2016-10-22 21:27] AlJohri opened #26 "pages may have less than RESULTS_PER_REQUEST"
[code]

depending on the filters used, I'm seeing many pages have less than 100 results per page even if there are multiple pages. here is an example url:

https://washingtondc.craigslist.org/search/apa?search_distance=1&postal=20071&availabilityMode=0

Run `document.querySelectorAll("#sortable-results .row").length == 51` despite the top showing `1 to 100 of 1177`.

[2016-10-22 21:32] AlJohri opened #27 "refactor to separate IO from parsing?"
hi @juliomalegria, I was trying to use your library in some code I'm working on where I'm controlling much of the IO myself. I was having a little trouble because the IO and parsing logic is currently intertwined. The parts that I was hoping to import are:

1) parsing the listing page
2) getting the filters that are available on different types of sections
3) getting the base url depending on the

[2016-10-22 21:35] AlJohri opened #28 "call to `xrange` in __init__ makes it incompatible with python3"
https://github.com/juliomalegria/python-craigslist/blob/master/craigslist/__init__.py#L273

[2016-10-29 18:45] juliomalegria commented on #26
You're right. I didn't realize this. I'm still thinking what would be a good way to fix it though ... any ideas?

[2016-10-29 18:46] juliomalegria commented on #28
This was recently fixed in 41a16f7. Thanks!

[2016-10-29 18:46] #28 closed

[2016-10-29 18:48] juliomalegria commented on #27
This all sound like good improvements! I'll try to work on them whenever I get some free time, but I cannot define any ETA.
I'd be very willing to accept a pull request though, if you feel like contributing :)

[2016-11-06 03:50] Bazhunga opened #31 "No longer works?"
As of today it looks like the wrapper no longer returns results. I've been running it for the past week and it's been fine until now. Is it an issue on my end?

[2016-11-06 15:44] bdubayah commented on #31
I'm having this problem as well. I'd be happy to provide any configuration information.

[2016-11-06 16:46] dacox commented on #31
@Bazhunga @bdubayah see #30

It seems to work for me after applying this patch. Cheers!

[2016-11-06 20:26] juliomalegria commented on #31
Hi Bazhunga, I've fixed this in 403da28. I'll do a new PyPI release right now.

[2016-11-06 20:26] #31 closed

[2016-11-07 19:44] gregv21v commented on #26
You could scrape the page for that number. The selector would be span.rangeTo.

[2016-11-07 21:55] gregv21v opened #32 "API Broken"
Is there something broken with the API? Whenever I "get_results", it returns nothing.

[2016-11-08 18:15] juliomalegria commented on #32
Hi Gregory,
Seems like Craigslist recently changed its HTML format and the library stopped working (see #31). I've already fixed it and released a new version to PyPI.
Please update your library, make sure your version is 1.0.3 (or higher). Feel free to reopen this issue if this doesn't fix your problem.

[2016-11-08 18:15] #32 closed

[2016-11-08 20:03] AlJohri opened #33 "jsonsearch vs regularsearch?"
Hey @juliomalegria, I was wondering if you've ever used the `jsonsearch` endpoint within craigslist and compared it to the regular search? I wasn't sure what the differences are but it seems a tad easier to parse.

Here's a quick script that runs on Python 3.5 and requires the `requests` library demonstrating the `jsonsearch` endpoint: https://gist.github.com/AlJohri/dc51918a65752099b2a8f4df5dba7f

[2016-11-08 20:29] AlJohri commented on #26
yeah what I do right now is:

[code]

[2016-11-08 20:54] gregv21v commented on #32
I'm updated to 1.0.3, and I'm still having the issue.

Here is what I'm trying to run:

`from craigslist import CraigslistHousing
cl_e = CraigslistHousing(site='boston')

for result in cl_e.get_results(limit=5):
    print(result)`

[2016-11-08 21:47] gregv21v commented on #32
Something happened. It works now. I'm not sure what it was. Maybe the update did work afterall.

[2016-11-10 01:11] AlJohri opened #34 "the url_key of min_price is just min_price not minAsk"
[code]

http://washingtondc.craigslist.org/search/apa?min_price=900&max_price=1000&availabilityMode=0

[2016-11-15 03:26] AlJohri opened #35 "craigslist areas / categories reference json api"
instead (or perhaps in addition to) using http://www.craigslist.org/about/sites, you can also use the craigslist reference json api: http://www.craigslist.org/about/reference

areas: http://reference.craigslist.org/Areas
categories: http://reference.craigslist.org/Categories

[2016-11-17 00:37] SophiaJia commented on #35
I am trying to get cleveland. http://reference.craigslist.org/Areas/27
looks like it works on craigslist but doesn't work with the code. and I am wondering why. the test code works well  thought

[2016-11-17 01:41] SophiaJia opened #36 "Save print result to data set"
Hi @juliomalegria  , How can I save the result in to a data format, that I can output the data?

thanks
Sophia

[2016-11-27 22:34] juliomalegria commented on #36
Hi Sophia,
Not sure if I understand your question. The method `get_results` returns an iterator of all the results. You can then save those results in whatever data format, like for example, JSON. Here an example:

[code]

Let me know if this answers your question.

[2016-11-27 23:02] juliomalegria commented on #34
Thanks! Fixed in 290f859

[2016-11-27 23:02] #34 closed

[2017-01-04 04:02] Bazhunga opened #38 "Not getting geotags?"
It seems that all returned data under forsale has a geotag field of "null". Did craigslist change recently?

[2017-03-07 04:42] pierreTklein opened #40 "Reading the post description"
Hi,
I was wondering if there was functionality to get the description of a given post within the module?
Thanks!

[2017-03-27 16:34] lanewinfield opened #42 ".show_filters() not working"
[code]

[2017-03-27 17:09] lanewinfield commented on #42
I think this was caused by CL blocking specific IPs (in this case, one from DigitalOcean). Was able to get this working on my local device though.

[2017-03-27 17:48] lanewinfield commented on #42
Nevermind. Looks like it's still an issue. My local machine has no problem doing it, but both a local network raspberry pi as well as my DO droplet seem unable to both read show_filters OR run any parts of the script.

[2017-04-06 02:45] andreking opened #43 "Unclear what filter values should be"
Is the filter "bathrooms" supposed to be an integer or a list? Also confused about "query", is it a string or perhaps a dict?

[2017-06-13 09:09] #36 closed

[2017-06-13 09:17] juliomalegria commented on #38
Hi Kevin. It seems that recently CL is adding the 'map' tag for all entries, even if the post doesn't have a location. However, the entries that do have a location will be populated if `geotagged=True`. If you see results with `geotag: None` it probably means that they just don't have a location.

If you find an entry that does have a location in CL, but the result didn't populate the geotag, let

[2017-06-13 09:19] juliomalegria commented on #43
Almost all filters follow the same format as their counter parts in the CL website. So bathrooms is a number (same as the website), and query is a string, e.g. "iphone 6 32gb".

[2017-06-13 09:19] #43 closed

[2017-06-13 09:20] juliomalegria commented on #43
Take a look at the examples in the documentation (README.md) to understand how to use the filters. Let me know if you have other doubts :)

[2017-06-13 09:21] juliomalegria commented on #40
Hi Pierre. The library doesn't have functionality yet, but we'll have it soon. In fact, there's already a pull request for that (#45).

[2017-06-13 09:21] #38 closed

[2017-06-13 09:23] juliomalegria commented on #42
Odd. Could it be that they don't have the latest version of python-craigslist? Can you run `pip list` and paste the output? List filters were added in version=1.0.2.

[2017-06-13 13:32] AlJohri commented on #27
hi @juliomalegria, I ended up implementing my own version to separate the IO from the business logic, allow using asyncio, dynamically grab the filters available on different sections, and create a simple CLI.

You can check it out here: https://github.com/AlJohri/craigslist

Would love any feedback!

[2017-06-13 13:32] #27 closed

[2017-06-13 13:33] #35 closed

[2017-06-13 13:34] #33 closed

[2017-06-13 13:34] #26 closed

[2017-06-17 20:19] NinjaEngineer commented on #40
I would also like this feature.

[2017-09-17 06:05] JRHutson opened #47 "Was working in Python 2, getting import error in Python 3"
I had the module working well in Python 2, but I want to use it in a script that needs to be in Python 3 and I keep getting an import error.

from craigslist import CraigslistHousing

returns "ImportError: cannot import name 'CraigslistHousing'"

There was some other module called "craigslist" rather than "python-craigslist" installed that I tried to remove. It's not showing up when I use "pip3 li

[2017-09-18 15:14] JRHutson commented on #47
I tried a different system and am not getting the error. Will try uninstalling and reinstalling modules on the one giving me an issue.

[2017-09-19 01:51] JRHutson commented on #47
After uninstalling the module named Craigslist didn't resolve it, I finally uninstalled and reinstalled Python-Craigslist. Something in the install process resolved the conflict.

[2017-09-19 01:51] #47 closed

[2017-09-25 04:03] rebelhazzard opened #48 "Using multiple sites"
cl_h = CraigslistForSale(site='vancouver', 'toronto' area='', category='cto',

I want to be able to use multiple sites like the above, instead of just searching vancouver I want to be able to search toronto too.

how can i do this?

thanks

[2017-11-04 02:56] ramgarden commented on #48
Looking in the code it looks like there's currently no way to tell it to search all sites.  You'd just have to call it twice and display the results for each.

[2017-12-08 18:59] amd112 opened #49 "Results from wrong location"
Easy to deal with by filtering externally, but might be worth thinking about searches with few results.

For housing, small markets tend to have few listings so searches like CraigslistHousing(site='stillwater', category='apa', filters={'posted_today': True}) will return housing from all over Oklahoma, as scraped from the 'similar listings' section.

This may be applicable for job or sale searches

[2017-12-14 15:38] juliomalegria commented on #48
This will have to make 2 calls to 2 different URLs, so I think is more transparent to instantiate two objects and call `get_results` twice. You could then chain the generators returned like so:

[code]

[2017-12-14 15:38] #48 closed

[2017-12-14 16:01] #49 closed

[2017-12-14 16:02] juliomalegria commented on #49
Thanks Ann for pointing that out! I hadn't realize this behavior. I've fixed this, and will do a new release with the fix soon.

[2017-12-23 19:34] AlexaLempel opened #50 "Add "bundle_duplicates" base filter"
It would be nice to add the &bundleDuplicates=1 option to the list of base filters.

[2017-12-23 21:58] AlexaLempel commented on #50
I don't really know my way around BeautifulSoup, but I modified your get_results method with an added "repost" field and that's been working pretty well for me to filter duplicates out on my own.

`def get_results(self, limit=None, start=0, sort_by=None, geotagged=False):
        """
        Get results from Craigslist based on the specified filters.

        If geotagged=True, the results will in

[2018-03-04 11:41] #42 closed

[2018-03-04 12:10] juliomalegria commented on #40
Hey @pierreTklein. I've just merged the pull request #45. I'm going to do a release right now, and this functionality will be available. Sorry for the delay!

[2018-03-04 14:18] juliomalegria commented on #50
Hey there @AlexaLempel. Thanks for the great suggestions!
I've added the repost info on 273abda, and the bundle_duplicates filter in cc43988.

Thanks!

[2018-03-04 14:22] juliomalegria commented on #40
New version release (`1.0.6`) including these changes!

[2018-03-04 14:22] #40 closed

[2018-07-31 16:22] ds89snsadbf opened #51 "CraigslistForSale does not actually support auto_transmission filter"
Was reading through your code and I saw in your readme, it says `auto_transmission` is a filter you can pass to car searches, however that option isnt available

[2018-08-01 15:31] juliomalegria commented on #51
`auto_transmission`, as well as other category specific filters are obtained from scrapping the site. That's why you couldn't find it in the code.

All the filters that show when you run `CraigslistForSale.show_filters(category='cta')` should be supported.

[2018-08-01 15:31] #51 closed

[2018-08-07 19:14] ds89snsadbf commented on #51
[code]

[code]

[2018-08-08 04:02] ppoiter opened #53 "Cant import into Jupyter Notebook"
I was having an issue similar to that of @JRHutson but his uninstall/reinstall solution does not work for me. I am attempting to import into a python 3 Jupyter Notebook but it times out with a connection error.

Any ideas? Thanks :)

[2018-08-17 14:35] juliomalegria commented on #51
See 2nd example in "Examples" for a query using category-specific filters.

`CraigslistForSale(site='sfbay', category='cta', filters={'query': 'Honda', 'auto_transmission': ['manual']})` should do the trick (i.e. put 'manual' in a list).

[2018-08-17 14:44] juliomalegria commented on #53
Not sure what could be the cause. What is timing out? Importing the module?
When the module is initalized, it queries Cragislist to get the valid sites. Could it be that something is blocking requests to external URLs?

Can you try running:

[code]

Does that time out?

[2018-08-28 23:34] levimoore1992 opened #54 "Not able to get a house for sale in austin"
This isnt working. The readme doesnt help you find another city other than san francisco

[2018-09-10 15:37] juliomalegria commented on #54
Hi Levi,
I've updated the README to include instructions on where to get `site` and `area`: https://github.com/juliomalegria/python-craigslist#where-to-get-site-and-area-from

[2018-09-10 15:37] #54 closed

[2018-09-25 08:39] ahmedsadman opened #55 "Bypassing Captcha"
Can this wrapper bypass captcha to get the contact information? By anyway is this possible to completely bypass captcha and get the contact info. I want to create a scrapper

[2018-09-29 01:07] abwillingham opened #56 "Craigslist categories."
Where can one get a list of categories?

[2018-09-29 18:36] abwillingham opened #57 "Locations, zip codes, and distance"
When specifying a location, say NewYork, and also a zip code, say 90210, and also a distance, 200 miles, how exactly is that interpreted by Craigslist since it's a condadiction?      Is it 200 miles from the zip code or the location?

[2018-09-30 03:15] dsnvwlmnt commented on #56
On the main Craigslist page, if I understand the question correctly. Hovering over each will show you the name that's used in the code.

![image](https://user-images.githubusercontent.com/14173022/46252889-3614ce00-c424-11e8-9bac-060c236b8b58.png)

[2018-10-03 18:41] ahmedsadman commented on #55
Sorry I was wrong, the captcha is not shown while revealing contacts

[2018-10-03 18:41] #55 closed

[2018-10-15 02:44] mbettan opened #58 "python3"
After installing craigslist module with pip3 successfully, I have following error with Python 3.4.3 on ubuntu 14.04:

[code]

I would really appreciate any help

thanks you

[2018-10-15 03:26] mbettan opened #59 "neighborhoods filter"
Hello guys,

Any ideas how we can filter using neighborhoods? It looks like not supported, correct?

Thanks

[2019-01-05 18:07] greenmindPDX opened #60 "Datetime question"
This utility is awesome, thanks for all the work. Question about datetime. I was looking in the Rochester, MN area, and received a result that looks like this;
[code]

The datetime displayed is 2018-12-12. However, if I look at the listing based on its url, the date posted shows as: 2018-11-13. Is this something you've come across?

[2019-01-05 18:10] greenmindPDX commented on #60
More info - it looks like datetime is showing the 'last updated' timestamp, rather than the initial post timestamp.

[2019-01-05 18:58] bparkin1283 commented on #60
Yeah I noticed this as well, if I recall. My/most needs require storing scheduled results. So, do a check on your sql to see if the record is unique, then if it is, insert it, if not, don't. This way you can also track the posts update history. You're right though, you lose the ability to see exactly when it was posted, if you're checking every day it'll get you there though.

If you have any ques

[2019-01-13 20:58] smonjezi1 opened #61 "UnicodeEncodeError"
Thank you for making this awesome package. I tried to run your example and it returns with an error after a few  seconds.

code:

    from craigslist import CraigslistHousing
    cl_h = CraigslistHousing(site='sfbay', area='sfc', category='roo',
                             filters={'max_price': 1200, 'private_room': True})
    for result in cl_h.get_results(sort_by='newest', geotagged=True):

[2019-05-22 08:30] coperyan commented on #59
You can't add a filter before you search. You can access the "where" attribute of the search result, this shows neighborhoods.

[2019-06-13 15:01] jbarchuk commented on #57
I just did a test. I told CL to find apartments within 20 miles of Old Saybrook CT. Then I put in a keyword Orient (looking for Orient NY.) It came up with one hit. The actual distance between them is 10 miles. Driving distance is 200 through NYC, or 40 via New London Ferry. So, it's using line of sight distance. Unless it discounts the ferry. Needs another test.

[2019-06-18 13:46] garciagerman opened #62 "Get fields used to filter by"
Is there a way to get the fields the query filtered by in the result? For example, when searching for cars we can filter with `min_miles` and `max_miles`, however the result doesn't return the actual miles. Can this be done with `customize_result` function instead? If so can you add example usage in the read me? I've looked at the source code and from what I understand you have to change the flag

[2019-06-18 13:46] garciagerman opened #63 "Get fields used to filter by"
Is there a way to get the fields the query filtered by in the result? For example, when searching for cars we can filter with `min_miles` and `max_miles`, however the result doesn't return the actual miles. Can this be done with `customize_result` function instead? If so can you add example usage in the read me? I've looked at the source code and from what I understand you have to change the flag

[2019-06-18 13:46] #63 closed

[2019-07-30 05:14] irahorecka opened #64 "geotags"
Hello, I set geotagged = True for housing, but I receive all 'geotag': None. These websites usually have maps and an address underneath. Is this a CL issue?

[2019-08-02 01:16] calvinized commented on #64
Same issue here, must be a change on CL side

[2019-08-02 01:31] irahorecka commented on #64
Darn, tons of cool things could be done with that information

[2019-08-09 08:56] Rafalonso commented on #61
What's your python version?

[2019-08-13 18:49] echentw commented on #64
Yeah, I had this problem too. Here's the PR to fix it in the python-craigslist dependency: https://github.com/juliomalegria/python-craigslist/pull/65

As a workaround for now, you can make those changes manually in your local python-craigslist.

[2019-08-27 10:37] juliomalegria commented on #64
Hi Ira. This was fixed with #65. Thanks @echentw !

[2019-08-27 10:37] #64 closed

[2019-08-27 10:40] juliomalegria commented on #61
I can't reproduce this. Please reopen the issue if you're still seeing this, sharing a bit more info (Python version would be nice). I'm closing this since it's quite old.

[2019-08-27 10:40] #61 closed

[2019-08-27 11:06] juliomalegria commented on #56
Thanks @abwillingham for the question, and thanks @dsnvwlmnt for the explanation.
This is a valid question, so I've added a section in the README to answer it: https://github.com/juliomalegria/python-craigslist#where-to-get-category-from

[2019-08-27 11:06] #56 closed

[2019-08-27 11:47] juliomalegria commented on #60
That's a valid point. In 66d1d6f I'm adding 'last_updated' as a key with the same value as 'datetime' (keeping 'datetime' for backwards compatibility). The information of when was the entry actual created is in the detail, so if include_details is set to True, the key 'created' will be included with the datetime of when was it actually created.
Hope this helps.

[2019-08-27 11:47] #60 closed

[2019-09-13 08:32] juliomalegria commented on #59
Hey @mbettan, to filter by neighborhood you could either:

* Use the "MILES FROM ZIP", specifying the `search_distance` + `zip_code` in the `filters`.
* Use `query='<neighborhood>'`

Those 2 would be pre-query filters. The other option, as @coperyan said, is to post-query filter the result based on the `where` attribute, that contains the name of the neighborhood.

[2019-09-13 08:32] #59 closed

[2019-09-13 08:42] juliomalegria commented on #57
I tested all the combinations: i.e. query+zip_code, query+ search_distance, zip_code+ search_distance, etc. The conclusion is that "search_distance" will only be considered when used with a "zip_code". Using a location plus a distance, results in CL ignoring the distance. Using a zip_code without a distance results in CL assumming the distance is 0. When using zip_code + distance + location (query

[2019-09-13 08:42] #57 closed

[2019-09-13 08:43] juliomalegria commented on #53
Closing because of inactivity. Feel free to reopen if the issue keeps happening.

[2019-09-13 08:43] #53 closed

[2019-09-16 19:49] irahorecka opened #66 "Max get_results"
I did some testing, and it seems like the maximum get_results per site, area, and category is 3000.

e.g.
`
from craigslist import CraigslistHousing
x = CraigslistHousing(site='sfbay',category='apa',area='eby')
y = [i for i in x.get_results(sort_by='newest')]

print(len(y)) #3000
`

Would you say Craigslist has an upper limit on posts per area in a certain category?

[2019-09-28 22:17] irahorecka commented on #66
Hello, just a follow up.... <br>
![alt text](https://i.imgur.com/Nawj4GG.png)<br><br>
A heads up for future users... Craigslist caps max search per region at <b>3000</b>. <br>
I will close this issue.

[2019-09-28 22:17] #66 closed

[2019-09-30 06:59] juliomalegria commented on #66
Thanks Ira. I hadn't notice that. I'll add it to the documentation.

[2019-10-23 02:28] irahorecka opened #68 "Count items returned from Craigslist locations shows tendencies for modulo 120"
Hello Julio,

I noticed that python-craigslist returns items from Craigslist locations with a tendency to have posting counts that are factors of 120. To clarify, the maximum items returned from a Craigslist location for a category (e.g. apts/housing from santabarbara) is 3000. The 120 comes from the number of listings per page in Craigslist; meaning at maximum, a Craigslist category per location

[2019-10-28 07:43] juliomalegria commented on #68
To make sure I fully understand the graph, the X axis is continuous right? So it includes values like say 0.25 or 2.7 correct, and you're pointing out the peaks in integer numbers, which indicate that the results are mostly multiples of 120. Did I understand that right?

[2019-10-28 16:31] irahorecka commented on #68
Yes, that is correct. To add some clarification, this occurs most frequently when geotag is set to True.

[2019-10-28 19:57] edkim92 opened #69 "CraiglistForSale Category=mca"
The motorcycle category is missing the min engine displacement and max engine displacement fields.

[2019-11-05 14:32] climatebrad opened #71 "small Python 3 typo in README - print result should be print(result)"
appears three times.

[2019-11-20 02:36] juliomalegria commented on #71
Thank you! Fixed in e316509

[2019-11-20 02:36] #71 closed

[2019-11-20 02:41] juliomalegria commented on #69
Thanks for pointing it out! Done. Added 2 those extra filters in 09792f7.

[2019-11-20 02:41] #69 closed

[2019-11-26 18:14] Wizumz commented on #62
I second this, it would be very useful to be able to set the results during query!

[2019-11-26 22:57] juliomalegria commented on #62
I agree. I'm working on this as we speak :)

[2019-12-14 00:44] juliomalegria commented on #62
I've finished implementing this! This was added in b1ca9b9. Now there's a lot of extra fields included to the results!

[2019-12-14 00:44] #62 closed

[2019-12-17 00:46] wolfgang42 opened #73 "Crash on include_details when post has been deleted"
[code]

The relevant page causing the crash contains the following HTML:
[code]

[2020-05-26 02:21] BigFav opened #74 "403 error"
When following the basic lines in the README, I get `requests.exceptions.HTTPError: 403 Client Error: Forbidden for url: https://sfbay.craigslist.org/search/sfc/roo?searchNearby=1&sort=date&max_price=1200&private_room=1&s=0`.

Is there functionality that allows a user to work-around this? A quick look at the code makes it seem like no.

A potential lede - https://stackoverflow.com/questions/166272

[2020-05-26 04:01] BigFav commented on #74
Closing this as I now see that this is an issue with my setup.

[2020-05-26 04:01] #74 closed

[2020-05-30 04:58] BigFav opened #75 "Include mapaddress text"
Geocodes appear to be approximates in a lot of cases. In certain instances, the listing will have the address in the `mapaddress` div tag and it doesn't seem like this reads that. This is a feature request to include that information.

Example page - https://york.craigslist.org/apa/d/york-room-for-rent/7104679926.html
Example return:

[code]

Page with inspection open:
![Image with inspection](htt

[2020-05-30 05:00] irahorecka commented on #75
Unfortunately, I believe this is a craigslist.org <http://craigslist.org/> problem.

[2020-05-30 05:35] BigFav commented on #75
This is just a scraper, which is why I identified the tag that displays this. This tag is in the output of the following code (which is found in this package):
[code]

Unclear how this is a craigslist problem given it is output from the craigslist request call.

[2020-05-30 05:41] irahorecka commented on #75
This is not this library's problem as it is Craigslist's. Check out the html source for the [link](https://york.craigslist.org/apa/d/york-room-for-rent/7104679926.html) you provided (btw the link will expire eventually).

[html source](https://i.imgur.com/y4uOvdd.png)

[2020-05-30 05:45] BigFav commented on #75
As stated above, this issue is to include the `mapaddress` div tag in the result, which in this case is "239 E Boundary Ave". Please look at what is highlighted in the original image on the inspection frame for reference.

[2020-05-30 16:02] damanc7 opened #76 "Request failed"
I'm getting a 'request failed, retrying'  I'm polling every 3 mins, should I wait longer?
`Request failed (('Connection aborted.', ConnectionResetError(10054, 'An existing connection was forcibly closed by the remote host', None, 10054, None))). Retrying ...`

[2020-05-31 02:58] damanc7 commented on #76
![Capture](https://user-images.githubusercontent.com/46076841/83343487-dc773d80-a2af-11ea-8759-f33f47c29ada.JPG)

[2020-06-03 00:37] damanc7 opened #77 "Alerts are 10-15 minutes late"
There seems to be a 10-15 minute delay from when something is posted on craigslist to when python-craigslist finds it. Is there any way to minimize this time?

[2020-06-03 00:49] irahorecka commented on #77
I think this is a Craigslist feature. I post items on the website frequently and the delay you’re talking about is a common phenomenon.

[2020-06-03 01:01] damanc7 commented on #77
Is there a way around this? I’ve applied for a gig 10 minutes after it was posted and it was already filled by 3 other people so I think craigslist is posting within this time.

[2020-06-03 09:58] juliomalegria commented on #74
Hey @BigFav,
What was the issue with your setup? And how did you fix this? Just for me to know in case other user in the future has the same issue.

[2020-06-03 10:00] juliomalegria commented on #76
Mmmm, might be that Craigslist is throttling your requests?
Did this suddently stopped working? Does the error go away after not sending further requests after say 1h? If so, it definitely sounds like throttling. Otherwise I could take a deeper look.
Can you share what command are you exactly calling, and every how often?

[2020-06-03 10:07] BigFav commented on #74
I was using an old version of WSL (Bash Ubuntu on Windows). Simply upgrading to the current version (18.04 LTS) resolved the problem for me. All of my requests calls were failing with a 403, not just the ones from this package.

[2020-06-03 10:08] juliomalegria commented on #75
Hey @BigFav,
I think this would be a great addition. Thanks for the feature request! Seems pretty simple to do, I'll work on it today or tomorrow.
However, just FYI, this won't get the lat,lng from that address. The geotag will remain the same, from the approx info provided by Craigslist, however there'll be a new field "address" is the `mapaddress` is present. Your example return was a bit confus

[2020-06-03 10:09] juliomalegria commented on #73
Thanks for reporting this @wolfgang42. Let me take a look into this case, and I'll do the fix.

[2020-06-03 10:17] BigFav commented on #75
Definitely doesn't map sense to be used as `geotag`, was just noting it is more accurate than `geotag`. Where does `where` come from? From my naive perspective, it seems like it could go there.

[2020-06-03 20:01] juliomalegria commented on #75
I had forgotten about `where`. This comes from `result-hood` in the list results. In the US, this always seems to be only the neighborhood, for e.g.

![Screen Shot 2020-06-03 at 9 47 40 PM](https://user-images.githubusercontent.com/1008637/83682694-90e0ce80-a5e4-11ea-94be-cb293eb977dd.png)

However in other countries, `result-hood` seems to contain the full address:

![Screen Shot 2020-06-03 at 9

[2020-06-03 20:06] juliomalegria commented on #77
What if you check the `posted_today` filter? Just spitballing, I don't know the Craigslist internals, so not sure if that would work, but maybe that makes Craigslist get the newest posts?

[2020-06-03 20:44] #73 closed

[2020-06-03 21:00] BigFav commented on #75
Two separate fields is the simplest to me as it puts the power in the hands of the user; this tool is simply a scraper. My question was more for information purposes, apologies for the confusion.

[2020-06-04 16:21] damanc7 commented on #77
I tested by going through Selenium and refreshing the page over and over (as a user would) and am still getting the delay so it's with Craigslist.  I am going to close the issue as it isn't with python-Craigslist.

[2020-06-04 16:21] #77 closed

[2020-06-04 19:01] juliomalegria commented on #74
I see. Awesome, thanks for sharing!

[2020-06-20 05:04] KeeonTabrizi commented on #75
@juliomalegria wondering if there's any progress on implementing this new extracted object. I'm considering doing something similar but if the work is already in flight think it makes sense to check in.

[2020-07-13 21:47] weebsnore opened #78 "Images not being detected"
Hey,

Thanks very much for the package!

I noticed the other day that CraigslistForSale results weren't being correctly populated with images.

I ran through the code with a debugger.

It looks like everything is OK until this line:

`if 'src' not in img:  # Some posts contain empty <img> tags.`

It seems to always evaluate to `True`.

This is the type of `img`:

[code]

I wonder if something rece

[2020-07-28 09:40] usctzen opened #80 "ImportError: cannot import name 'CraigslistHousing' from partially initialized module 'craigslist' (most likely due to a circular import)"
Hi,

First, THANK YOU.

I installed the module as instructed and copied the Housing script for a test. I am getting the error in the title.

To be noted that I tried the script to show the filters in the Python terminal and it worked with no problems.  If I use the demo script in the Python terminal, it also works.

When I run the script thru the 'run' command in PyCharm, I get the error message.

[2020-07-28 11:48] usctzen commented on #80
I am living the request for help up so if anybody who encounters this problem knows how to fix it.

The solution is simple: NEVER NAME YOUR SCRIPT FILES WITH A MODULE NAME. I was trying to run this in a file named: craigslist.py

Hopefully, I will never do this mistake again.

Thanks again for the module.

[2020-07-28 11:48] #80 closed

[2020-08-02 20:08] juliomalegria commented on #80
Thanks @usctzen for using the module, and thanks for posting the solution to the issue.

[2020-08-02 20:18] juliomalegria commented on #75
Key @KeeonTabrizi, I'm sorry. This change is very much in flight. As a matter of fact, it was ready, I had just forgotten to push it. I'll do it now and release a new version.

[2020-08-02 20:47] juliomalegria commented on #75
This was resolved in commit 1f8c44c. I've just released version `1.0.9` in PyPI

[2020-08-02 20:47] #75 closed

[2020-08-02 21:07] #78 closed

[2020-08-02 21:08] juliomalegria commented on #78
Thanks so much @weebsnore for reporting this! Seems to be that the package has been having an issue with images for some time. I've fixed it and already released version `1.0.10` with the fix.
Thanks again!

[2020-11-10 06:13] bevensteven opened #96 "[question] Is there an easy way to fetch the images of a listing?"
Sweet project!

After finding a bunch of listings, I'm wondering if there's a low-effort way to retrieve a listing's attached images? Can't think of anything off the top of my head other than scraping those images.

Thanks!

[2020-11-22 22:16] mnowicky opened #97 "auto_title_status doesn't accept any of the filter parameters/options"
Hello, thanks for the great module! I did find what I believe to be a bug however.

It has to do with the "CraigslistForSale" sub-class. Specifically, the category "cto".

When issuing:
`CraigslistForSale.show_filters(category='cto')`

we see that "auto_title_status" is a valid filter, with the options being listed as "clean", "salvage", "rebuilt", "parts only", "lien", and "missing".

However, wh

[2020-11-23 08:36] mnowicky commented on #76
It looks to me like you probably have a while loop that doesn't have any wait time ( ex. time.sleep(1) or something) implemented into it. So you're essentially just opening tons of connections to CL which obviously looks like a DDoS attack on their end and gets shut down.

[2020-11-24 19:22] irahorecka commented on #97
Seems like a slight bug in `base.py`. Under `get_filters`, there is a conditional that checks for whether `filters` value (e.g. 'clean') is an iterable; if it's not, it'll force the value into a list to make it an iterable. In your case, 'clean' (i.e. a str) is an iterable, so when the function tries to check the elements in the iterable to an accepted list of filter parameters, rather than pullin

[2020-11-25 05:56] irahorecka commented on #96
Yes, there is. Add keyword argument `include_details=True` when iterating through `get_results`. A list of image urls will be assigned to the key 'image' in the output value.

`
# ...
for result in cl_h.get_results(sort_by='newest', geotagged=False, include_details=True):
    print(result['images'])
# ...
`

[2020-11-25 17:46] Walid-Rahman2 opened #99 "geotagging failure due to None from fetch_content in base.py"
Thanks for making this amazing package. I ran into some issues where if fetch_content returns a None, geotagging will fail. This breaks the collection of data. I assume the include details would also fail as a result. Can we have try except around geotagging and include details in the process row function? That way, the data collection process doesn't break. Thanks.

[2020-12-11 06:24] mnowicky commented on #97
Thank you!

[2020-12-11 06:24] #97 closed

[2020-12-18 17:40] Quresh95 opened #100 "auto_paint filter not working | CraigslistForSale 'CTA' category"
The filter, auto_paint, under the CTA (cars & trucks) category in CraigslistForSale is not working. I believe it is because the filter has been changed to 'paint color' on craigslist. I am a novice hobby coder so am unfamiliar with how to implement the change myself.

[2020-12-18 17:52] Quresh95 opened #101 "min/max mileage filter not working"
The filter, min_mileage & max_mileage, under the CTA (cars & trucks) category in CraigslistForSale is not working.

[2020-12-19 03:01] irahorecka commented on #68
Hey, Julio - I'll close this issue for now, since I have not experienced this lately. I'll let you know if this is an active issue in the future.

[2020-12-19 03:01] #68 closed

[2020-12-19 03:05] irahorecka opened #102 "Test suite for developers"
Hello Julio, is there a test suite that is available for developers? I'd love to actively contribute to this project, and having a test suite would make me feel more at ease when I submit a PR :)

[2020-12-19 04:33] irahorecka commented on #100
Hey @Quresh95, I submitted a PR to address this issue. You can clone this version and see if it works for your situation. Here's as short [article](https://dev.to/bolajiayodeji/how-to-test-a-pull-request-locally-before-merging-1h29) on how to clone a PR.

[2020-12-19 04:37] irahorecka commented on #101
Likewise for this issue (referencing issue #100)

[2020-12-19 04:39] irahorecka commented on #99
Hey @Walid-Rahman2 , could you provide a minimal reproducible code for this issue?

[2020-12-19 22:35] juliomalegria commented on #96
Thanks @bevensteven for using the project. As @irahorecka pointed out, when getting the details of all posts (`include_details=TRue`), all URLs to images are included.

Thanks Ira for helping out!

[2020-12-19 22:35] #96 closed

[2020-12-19 22:52] juliomalegria commented on #99
Thanks @Walid-Rahman2 for reporting!
Indeed I see how the pipeline would break if `fetch_content` returned a `None` value. I've added a check to prevent this in ac666a2, and I'll be deploying a new PIP version later today.

[2020-12-19 22:52] #99 closed

[2020-12-19 23:29] juliomalegria commented on #102
Hey Ira! Thanks so much for all the support and collaboration you've been doing to the project lately. I very much appreciate it 😄

Adding unit tests is one of the big to-dos that I have for this project, and I'd like to work on that soon. I'll try to add a very bare-bones test structure soon. However, if you want to take the time to get that started, please go ahead. It doesn't have to be full co

[2020-12-19 23:36] juliomalegria commented on #101
Hi @Quresh95. Can you explain me what issue you're having with the filters? The correct names for the filters are `min_miles` and `max_miles`. That might be the issue.

I did a quick test and it seems to be working correctly for me:

[code]

From the website:

![Screen Shot 2020-12-19 at 11 34 06 PM](https://user-images.githubusercontent.com/1008637/102701809-56c2db80-425b-11eb-9da2-296564919f58.p

[2020-12-19 23:36] #101 closed

[2020-12-19 23:37] irahorecka commented on #102
Sure thing! It'll be on my to-do list :smiley:

[2020-12-19 23:57] juliomalegria commented on #100
This was fixed by @irahorecka's wonderful PR (#98) that was just merged. There's a new version on PyPI with this fix :)

[2020-12-19 23:57] #100 closed

[2020-12-19 23:58] juliomalegria commented on #99
New version was release to PyPI 🙌

[2020-12-21 03:15] Quresh95 commented on #100
Amazing thank you!

[2020-12-21 03:20] Quresh95 commented on #101
Agreed, I actually had the correct names in my code, min_miles & max_miles. They didn't seem to be working earlier but worked fine just now. I must've had something else wrong with my code which I seem to have since resolved. Thank you!

[2020-12-21 03:29] Quresh95 opened #103 "An idea: Add filter for owner or dealer listing for certain for sale categories"
In CraigslistForSale, there are several categories (e.g. 'CTA') that have the option to filter listings by dealer or owner on the website.

Adding that as a filter in this would be very useful.

[2020-12-21 04:59] irahorecka commented on #103
Hey @Quresh95, rather than setting `category='cta'`, try `category='cto'` for listings by owner, and `category='ctd'` for listings by dealer.

[2020-12-22 20:30] Quresh95 commented on #103
Thank you @irahorecka for the insight! I will use that as a reference going forward. Apologies, I am a hobby coder and am overcoming a bit of an initial learning curve

[2020-12-22 20:30] #103 closed

[2020-12-22 20:38] Quresh95 commented on #103
Thank you @irahorecka for the insight! I will use that as a reference going forward. Apologies, I am a hobby coder and am overcoming a bit of an initial learning curve

[2020-12-22 21:00] irahorecka commented on #103
No problem, @Quresh95 - happy to help.

[2020-12-24 19:01] irahorecka commented on #103
Hey, @Quresh95 - if you are practicing web scraping / data science with this library, I wrote another library to work closely with python-craigslist to allow high-throughput queries (https://github.com/irahorecka/python-craigslist-meta)

[2021-01-04 16:41] usctzen opened #104 "search_titles option"
Hi and thanks again for this great tool.

I am using the search_titles option for a keyword and I have come to realize that it may not be working properly.

As an example, am using the keyword 'Softail' to search for Harley bikes and it does flag the ones with Softail in the title.

Here is a sample of the code I use.

![image](https://user-images.githubusercontent.com/15651153/103557681-da173a80-

[2021-01-04 18:39] irahorecka commented on #104
Hello @usctzen, it looks like your program is OK. Are you seeing issues where you set `search_titles: True` but receive results where "Softail" is in the model of the post and not in the title?

[2021-01-04 19:04] usctzen commented on #104
Hi Ira,

Actually, I understood that I was searching for the model, but also
searched in the title in case the model wasn't filled properly.

I do get results like that. I have always assumed that if found they were
at le found in the category.

Here is a sample

--------------------------------------------------
SOFTAIL (MAX $6000)
--------------------------------------------------
2001 HARLEY DA

[2021-01-04 19:07] usctzen commented on #104
Ira,

I just ran a test with the filter set to False and I get the exact same
result. Like if the filter is not functioning.

Thanks for your help

Le lun. 4 janv. 2021 à 19:40, Ira Horecka <notifications@github.com> a
écrit :

[2021-01-04 20:59] juliomalegria commented on #104
Hi @usctzen.

Just to clarify, the `search_titles` filter works only in combination with the `query` filter. By itself, the `search_titles` will just be ignored.

So for example, an instance with `(..., filters={'query': 'spacious', 'search_titles': True})` will **only** return entries that contain the word "spacious" on their titles.

Does that make sense? I think that should explain the issue yo

[2021-01-04 21:06] usctzen commented on #104
Ok, thanks for the clarification.  I'll try to see if I can use it.

Thanks again for a great product and should I make some money with it, I
would love to contribute something.

Le lun. 4 janv. 2021 à 21:59, Julio M. Alegria <notifications@github.com> a
écrit :

[2021-01-04 21:21] juliomalegria commented on #104
Let me know if that works for you. I'll close this issue for now. If you encounter any issue, feel free to re-open it.

[2021-01-04 21:21] #104 closed

[2021-01-05 17:26] luisandrecunha opened #105 "Error 403 - Forbidden for url: https://www.craigslist.org/about/sites"
Hi Julio,

I have used your code before (early 2020), but now I'm getting the error below when trying to import CraigslistHousing, using "from craigslist import CraigslistHousing":

HTTPError: 403 Client Error: Forbidden for url: https://www.craigslist.org/about/sites
<img width="864" alt="Screen Shot 2021-01-05 at 5 25 31 PM" src="https://user-images.githubusercontent.com/7511814/103678115-0f3a90

[2021-01-05 17:56] irahorecka commented on #105
Seems like this works on my end. Did you upgrade `python-craigslist` to the latest version?

[2021-01-05 21:37] irahorecka commented on #105
Ah, this looks to be a problem with the `requests` library in your environment, not `python-craigslist`, per se.
I'm guessing the same exception would be thrown if you executed this:
[code]

[2021-01-05 22:00] luisandrecunha commented on #105
You are completely right, I also tried in a new colab and got "<Response [403]>"

If I run the code below I get a successful response and the page code. I believe it's related with the web scraping issue in [this](https://stackoverflow.com/questions/16627227/http-error-403-in-python-3-web-scraping) page.

[code]

[2021-01-07 16:49] juliomalegria commented on #105
Thanks for reporting @luisandrecunha.

Interesting. Seems like Craigslist is blocking requests coming from your IP (or Google's Colab IPs). I'm guessing the IP hit a max number of requests per day/hour/minute.

Do you mind running the code suggested by @irahorecka but setting a User-Agent like you did with `urllib`:

[code]

If this works fine, I'll add a default `User-Agent` to all requests to pr

[2021-01-08 23:24] luisandrecunha commented on #105
Hi @juliomalegria ,

It seems that Google's Colab IPs is blocked by Craigslist... I successfully ran the code in a local jupyter notebook and it worked like a charm.

I tried the code you suggested in Colab and continued to get the 403 response... However I receive the right page if I use the code below, not sure if somehow the code could be adapted.

[code]

Thank you again,

[2021-02-18 19:42] jraVette commented on #105
Just a heads up, I've got the exact same issue.  The request is blocked without specifying a 'User-Agent' in the request.  I've been running my code for more than a year and this just happened this week.  So, something must have changed on the craigslist side?  I'll have to dig into the code and see if I can add that to the request.  Just wanted to let you know of another user with the same issues

[2021-02-19 10:12] juliomalegria commented on #105
Hey everyone! Sorry for the inactivity. I've released a new version (`1.1.1`) adding a `User-Agent` to `requests.get`. Hopefully that will solve the issue, please report back if it does or doesn't. If it doesn't I'll have to change libraries to `urllib`.
Thanks!

[2021-02-20 05:38] cwittwer commented on #105
I am still getting the 403 error with the updated utils.py.

[2021-02-21 03:46] KeeonTabrizi commented on #105
+1 Having the same behavior - 403s on `/search` paths through just a general `requests.get()` call so the library/class is also not functioning.

[2021-02-22 06:58] KeeonTabrizi commented on #105
Okay I've dug into it a bit more - I don't think this has anything do to with user agents or anything they are blocking like that. I recommend upgrading both the `requests` and `urlib3` library `pip install urllib3 --upgrade` `pip install requests --upgrade`. Once I did that things started working again. So not sure the actual issue - as older versions of those libraries were working - but with th

[2021-02-23 12:14] juliomalegria commented on #105
Thanks @KeeonTabrizi! That's a very good point.
I've updated the requirements to include some minimum version for requirements (requests and beautifulsoup4).
Can anyone having issues try updating their library (`pip install python-craigslist --upgrade`) and let me know if this fixed the issue.
Thanks again!

[2021-02-23 12:43] usctzen commented on #105
Hey guys.

I am not a power user, but I have found that the latest *idna* version is
incompatible with *requests*. If you installed the latest *idna* then just
run *requests* upgrade and it will revert the *idna* version. I have no
clue that it could be your troubles, but it could be a factor.

Hope this helps.

Le mar. 23 févr. 2021 à 13:15, Julio M. Alegria <notifications@github.com>
a écrit :

[2021-02-23 14:27] jraVette commented on #105
Hey y'all, thanks so much for taking the time to fix this! So, it could just be how my packages were managed, but, when I performed (`pip install python-craigslist --upgrade`) it updated `requests` but not `urllib3`.  I guess `urllib3` is used by `requests`.  So, it did not work with just upgrading `python-craigslist`.  But, after updating both `request` and `urllib3` to the latest, back up and ru

[2021-02-24 16:42] chrismd1 opened #106 "ValueError: 'portland' is not a valid site"
Getting the following error including when ran with default site 'sfbay'. Was working as recent as yesterday: Thanks

""
cl_h = CraigslistHousing(site='portland', category='apa',
                         filters={'max_price': 2000,
                                  'min_price': 1200,
                                  'posted_today': True,
                                  'search_distance': 15,

[2021-02-24 18:01] irahorecka commented on #106
Hey @chrismd1, so first of all, `housing_type` is not a valid filter.
The resulting url generated by your query is `https://portland.craigslist.org/search/apa?searchNearby=1&max_price=2000&min_price=1200&postedToday=1&search_distance=15&postal=97215&s=0`

Unfortunately, it seems like Craigslist blocked my IP address (HTTP 403 Forbidden client error). You can try this to see if you have the same re

[2021-02-25 15:51] chrismd1 commented on #106
Hi Ira,

Thanks for responding. Of note - the example code from the package
information page <https://pypi.org/project/python-craigslist/> also returns
the same result ('...ValueError: 'sfbay' is not a valid site'). I've
removed  the 'housetype' filter and still can't avoid this error.

from craigslist import CraigslistHousing

cl_h = CraigslistHousing(site='sfbay', area='sfc', category='roo',

[2021-03-11 04:20] irahorecka commented on #106
Hey @chrismd1 I apologize, my maladies was tied with issue #105. Is your issue still persistent?

[2021-03-21 01:17] jackdbastian opened #107 "'housing_type' and 'laundry' filters"
Are the 'housing_type' and 'laundry' filters still supported?  They both return "not a valid filter".

[2021-03-26 01:52] irahorecka commented on #107
Hey @jackdbastian, could you provide the code snippet that raised this issue? I couldn't replicate it.

[code]

[2021-03-30 16:41] irahorecka commented on #105
@cwittwer, @jraVette, @usctzen, @KeeonTabrizi, @luisandrecunha If you guys are interested in a new Craigslist API format, check out [pycraigslist](https://github.com/irahorecka/pycraigslist).
I enjoy python-craigslist, but there were some features I wanted to implement immediately.

[2021-03-30 17:35] usctzen commented on #105
Thanks, I'll check it out.

Le mar. 30 mars 2021 à 18:42, Ira Horecka ***@***.***> a
écrit :

[2021-03-30 19:33] usctzen commented on #105
Ira,

Just gave it a quick try and I am getting an error. The script finds the
forsale.mca but does not recognize the forsale.mcy
mca is motorcycle all and mcy is motorcycles by owner.

*Traceback (most recent call last):  File
"C:/Users/mgpd/PycharmProjects/molivo/py_clist.py", line 3, in <module>
print(pycraigslist.forsale.mcy.get_filters())AttributeError: type object
'forsale' has no attribute

[2021-03-30 19:36] irahorecka commented on #105
Hey @usctzen, I always appreciate your feedback. Could you post the same issue in pycraigslist issues? I’ll address it there :)

[2021-03-30 19:56] usctzen commented on #105
Sure thing!

Le mar. 30 mars 2021 à 21:36, Ira Horecka ***@***.***> a
écrit :

[2021-04-02 22:34] jackdbastian commented on #107
Hi @irahorecka, I'm not sure what I was doing wrong before but your snippet worked.  Thank you for the help and for maintaining this awesome package!

[2021-04-02 22:34] #107 closed

[2021-04-03 03:56] irahorecka commented on #107
@jackdbastian no problem, happy to help

[2021-04-04 05:28] irahorecka commented on #107
Hey @jackdbastian, I created a new python craigslist api library that might be of interest (https://github.com/irahorecka/pycraigslist).

[2021-04-06 19:26] juliomalegria commented on #105
Hey everyone! Sorry for the delay, I've updated the requirements in 88a6b73 and pushed a new version in PyPI. Could anyone confirm if the issue is fixed with this?
Thanks for all the patience!

[2021-05-05 22:45] shahesam84 opened #110 "Number of bedrooms?"
Thanks for this great work. Is there any filter for the number of bedrooms? Are you willing to expand the filter criteria options? Thanks

[2021-05-06 23:36] irahorecka commented on #110
Hi @shahesam84, by "filter for the number of bedrooms" do you mean setting filter keys for minimum and maximum bedrooms? If so, you can do this:

[code]

[2021-05-06 23:38] shahesam84 commented on #110
Yes, that's exactly what I want. I will have a look and let you know.

[2021-07-13 15:18] #110 closed, assigned to nobody

[2021-08-20 10:22] juliomalegria commented on #106
Hey @chrismd1.

I just tried this and this works just fine for me.

Can you run this to double-check that the library is getting the sites correctly?

[code]

Can you try that and tell me what you get? Thanks.

[2021-12-27 22:40] yetinet opened #111 "Documentation for customize_result()"
Hi, thank you for your work on this.

I was wondering if you could document how to use customize_result().  I'd like to get Housing posts with # of bedrooms, bathrooms, and square footage.

[2022-03-29 23:22] ChocoTonic opened #112 "how do you search for key words?"

[2022-03-30 00:09] irahorecka commented on #112
Could you please provide more description and a minimal reproducible example?

[2022-03-30 16:35] #112 closed, assigned to nobody

[2022-07-07 02:46] mattalxndr opened #113 "Support for searching using `lat` `lon` instead of `zipcode`?"
For whatever reason, CG does not deal with my [large TX] zipcode well. So on CG I always use the "use map" option in my searches. That replaces `zipcode` with `lat` and `lon` params.

But I'm getting:

[code]

[2022-08-17 19:24] tangunner opened #116 "Wrapper Still Maintained?"
Hi - I was just wondering if this wrapper is still maintained? I tried a few different endpoints but received a couple different types of errors and wasn't sure if they're caused by a bad local installation on my end or if the wrapper was just not longer supported and there had since been updates to CL. Thanks!

[2022-08-19 16:17] irahorecka commented on #116
Do you have a reproducible snippet of code that threw the error(s)?

[2022-08-19 18:40] MuhammadSaadSiddique opened #117 "Craigslist Resumes"
Resumes are fetching but looking to get some way out for email or contact procedure.

[2022-08-19 18:42] MuhammadSaadSiddique opened #118 "Oldest order in sort"
Oldest order in sort for all post. As post deleted in 45 days so we can also sort oldest post come first.

[2022-09-08 18:48] jsudano commented on #116
Getting similar issues here. This is the error I see whenever I try to search:
[code]

Was able to reproduce it quite simply:
[code]

I dug a little deeper and looked at the HTML response from craigslist, it looks like CL won't respond to requests unless you have a "browser with javascript enabled":
[code]

I'm guessing this would break the library in most cases.

[2022-09-22 02:57] pancho-villa commented on #116
I'm having the same issue. I just downloaded this yesterday and it worked fine for a bunch of queries. Today I fired it up again and get this every time.

[2022-09-26 18:56] natez311 commented on #116
Hi,

Also having the same issue

`Traceback (most recent call last):
  File "forSale.py", line 1, in <module>
    from craigslist import CraigslistJobs, CraigslistForSale
  File "/Users/nathanielhurwitz/.pyenv/versions/3.8.10/lib/python3.8/site-packages/craigslist/__init__.py", line 1, in <module>
    from .craigslist import (
  File "/Users/nathanielhurwitz/.pyenv/versions/3.8.10/lib/python3.8/si

[2022-10-03 06:28] moozzyk commented on #116
I came across this yesterday and it doesn't seem like the wrapper can work anymore. I used a headless browser to work around this. See https://blog.3d-logic.com/2022/10/02/craigslist-automation for more details and a prototype.

[2022-11-21 22:59] Agwebberley commented on #105
I am still having this issue